@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-line {
    --thickness: 1.5px;
    background-image: linear-gradient(180deg,currentColor 0,currentColor 98%);
    background-position: left 95%;
    background-repeat: no-repeat;
    background-size: 0 2.5px;
    background-size: 0 var(--thickness);
    transition: background-size .8s cubic-bezier(.25,.8,.25,1);

    &:hover {
      background-size: 100% 2.5px;
      background-size: 100% var(--thickness);
    }
  }

  .animate-menu {
    animation: show-up .5s forwards
  }
}